h1{
    color:aqua;
    margin-left: 50px;
}
.header{
    background-color: brown;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;

}
p,h2{
    text-align: center;
}
body{
    background-color: #808080

}
.menu{
    margin-right: 30px;
    margin-top: 30px;
}
.menu a{
    margin-left: 20px;
}
a:link{
    color:azure;

}
a:visited{
    color:black;
}
.item{
    position:relative;

}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;

}
.item:hover img{
    opacity: 0.33;
}